
<div class ="country_heading"> Listing countries</div>
<table id="countries">
  <% @countries.each do |country| %>
    <tr>
      <td><li><%=h country.name %></li></td>
  </tr>
<% end %>
</table>
<br />
