
  <input type="button" value="Create Marker"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Save Markers"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Delete Markers"/><br/><br/>
  <div id="sample_map" style="width:500px;height:500px"></div>
  <%= javascript_include_tag "Gmap" %>
