
<input type="button" id="storing" value="Save Markers" onClick="storeMarkers();"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="clearing" value="Clear Markers" onClick="clearMarkersArray();"/> &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="showing" value="Show Markers" onClick="showMarkersArray();"/> &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="deletion" value="Delete Markers" onClick ="deleteMarkers();"/><br/><br/>
  <div id="sample_map" style="width:500px;height:500px"></div>
  <%= javascript_include_tag "Gmap" %>
