
<%= stylesheet_link_tag "start/jquery-ui-1.8.14.custom.css" %>
<%= javascript_include_tag "jquery-ui-1.8.14.custom.min.js"  %>
<script type="text/javascript">
  $(function(){

    // Accordion
    $("#accordion").accordion({ header: "h3" });
    // Tabs
    $('#tabs').tabs();
    $("#tabs").data("RspecName", "peoples");
    $("#tabs").data("CapybaraName", "people");
    $('#tabs').tabs( "option", "selected", 0 );
    loadSpecAndCapybaracode();
  });

</script>
<style type="text/css">
  /*demo page css*/
  body{ font: 62.5% "Trebuchet MS", sans-serif; }
  .heading {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
  }
</style>
<div class="heading">Testing Web Components with Rspec and Capybara</div>
<div id="accordion" style="width:30%;margin-top:3%">
  <div>
    <h3><a href="#" class="auto_complete">Auto Complete Feature</a><%#= link_to_field "Auto Complete", "new" %></h3>
    <div>It contains an autocomplete feature</div>
  </div>
  <div>
    <h3><a href="#" class="google_map">Google Map Feature</a><%#= link_to_field "Google Map", "googlemap" %></h3>
    <div>Sample google map</div>
  </div>
  <div>
    <h3><a href="#" class="ajax_feature">Ajax Feature </a></h3>
    <div>Makes an dynamic ajax call and updates the data</div>
  </div>
  <div>
    <h3><a href="#">Other components </a></h3>
    <div>Other components are added in feature</div>
  </div>
</div>
<br/>

<div id="tabs" style="width:40%;left:31%;top:-160px;">
  <ul>
    <li class="data"><a href="#tabs-1">Live Demo</a></li>
    <li><a href="#tabs-2">Rspec code</a></li>
    <li><a href="#tabs-3">Capybara code</a></li>
  </ul>
  <div id="tabs-1"><div id="alert"></div>
    <iframe id="ajax_feature" src = "/countries/new" style="width: 500px; height:400px; overflow:hidden;border:none;display:none"></iframe>
    <div id="new_people_form" style="display:block"><%= render :partial => "new" %></div>
    <div id="google_form" style="display:none"><%= render :partial => "googlemap" %></div>
  </div>
  <div id="tabs-2"></div>
  <div id="tabs-3">Here comes a Cabybara </div>
</div>
